/* Variables */

html {
    --color-primary: #660972;
    --color-primary-transparent: rgba(102, 9, 114, 0.5);
    --color-primary-light: #b921b2;
    --color-secontary: #6F7EFD;
    --color-tertiary: #45117f;
    --color-light: #c1c5ff;
    --color-dark: #000000;
}

/* Common styles */

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-tertiary);
    padding: 0 60px;
}

h2 {
    margin: 40px auto;
    color: var(--color-secontary);
    text-align: center;
}

.transition,
.transform,
.transform-origin{
    height: 60px;
    width: 120px;

    color: var(--color-light);
    text-align: center;
    line-height: 60px;

    background-color: var(--color-primary-transparent);
    border: none;
    border-radius: 10px;
    cursor: pointer;

    transition: all 1s;
}

img {
    display: block;
    width: 150px;
    cursor: pointer;

    transition: transform 1s;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    height: max-content;
}

#wt-sky-root {
    display: none;
}

/* Transition */

.background:hover {
    background-color: var(--color-primary-light);
}

.color:hover {
    color: var(--color-secontary);
}

.font-size:hover {
    font-size: 18px;
}

.height:hover {
    height: 70px;
}

.width:hover {
    width: 140px;
}

.letter-spacing:hover {
    letter-spacing: 1.5px;
}

.line-height:hover {
    line-height: 30px;
}

.margin-bottom:hover {
    margin-bottom: 20px;
}

.margin-top:hover {
    margin-top: 20px;
}

.opacity:hover {
    opacity: .3;
}

.padding:hover {
    padding: 10px;
}

.border-color,
.border-width {
    border: 2px solid var(--color-secontary);
}

.border-color:hover {
    border-color: var(--color-primary-light);
}

.border-width:hover {
    border-width: 6px;
    line-height: 48px;
}

/* Transform */

.scale:hover {
    transform: scale(1.2);
}

.translate:hover {
    transform: translateX(300px);
}

.rotate:hover {
    transform: rotate(180deg);
}

.skew:hover {
    transform: skew(20deg);
}

/* Transform-origin */

.transform-origin:hover {
    transform: rotate(20deg);
}

.top {
    transform-origin: top;
}

.right {
    transform-origin: right;
}

.left {
    transform-origin: left;
}

.bottom {
    transform-origin: bottom;
}

.top-right {
    transform-origin: top right;
}

.top-left {
    transform-origin: top left;
}

.bottom-right {
    transform-origin: bottom right;
}

.bottom-left {
    transform-origin: bottom left;
}

/* Perspective */

.perspective {
    perspective: 500px;
    display: flex;
    justify-content: space-around;
}

.rotate-x:hover {
    transform: rotateX(90deg);
}

.rotate-y:hover {
    transform: rotateY(90deg);
}

.rotate-z:hover {
    transform: rotateZ(90deg);
}

.translate-z:hover {
    transform: translateZ(100px);
}

/* Examples */

.example-1 {
    position: relative;

    padding: 10px 20px;

    text-decoration: none;
    color: var(--color-secontary);
    border: 2px solid var(--color-secontary);
    overflow: hidden;

    transition: all 600ms ease-out;
}

.example-1:before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: var(--color-primary);

    transform-origin: bottom right;
    transform: rotate(90deg);
    transition: transform 600ms ease-out;
}

.example-1:hover:before {
    transform: rotate(0deg);
}
