/* Variables */

html {
    --color-primary: #660972;
    --color-primary-transparent: rgba(102, 9, 114, 0.5);
    --color-primary-light: #cb3fba;
    --color-secontary: #6F7EFD;
    --color-tertiary: #45117f;
    --color-light: #c1c5ff;
    --color-dark: #000000;
}

/* Common styles */

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-tertiary);
    padding: 0 60px 100px;
}

h2 {
    margin: 40px auto;
    color: var(--color-secontary);
    text-align: center;
}

.transition,
.transform,
.transform-origin{
    height: 60px;
    width: 120px;

    color: var(--color-light);
    text-align: center;
    line-height: 60px;

    background-color: var(--color-primary-transparent);
    border: none;
    border-radius: 10px;
    cursor: pointer;

    transition: all 1s;
}

img {
    display: block;
    width: 150px;
    cursor: pointer;

    transition: transform 1s;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    height: max-content;
}

#wt-sky-root {
    display: none;
}

/* Transition */

.background:hover {
    background-color: var(--color-primary-light);
}

.color:hover {
    color: var(--color-secontary);
}

.font-size:hover {
    font-size: 18px;
}

.height:hover {
    height: 70px;
}

.width:hover {
    width: 140px;
}

.letter-spacing:hover {
    letter-spacing: 1.5px;
}

.line-height:hover {
    line-height: 30px;
}

.margin-bottom:hover {
    margin-bottom: 20px;
}

.margin-top:hover {
    margin-top: 20px;
}

.opacity:hover {
    opacity: .3;
}

.padding:hover {
    padding: 10px;
}

.border-color,
.border-width {
    line-height: 56px;
    border: 2px solid var(--color-secontary);
}

.border-color:hover {
    border-color: var(--color-primary-light);
}

.border-width:hover {
    border-width: 6px;
    line-height: 48px;
}

/* Transform */

.scale:hover {
    transform: scale(1.2);
}

.translate:hover {
    transform: translateX(300px);
}

.rotate:hover {
    transform: rotate(180deg);
}

.skew:hover {
    transform: skew(20deg);
}

/* Transform-origin */

.transform-origin:hover {
    transform: rotate(20deg);
}

.top {
    transform-origin: top;
}

.right {
    transform-origin: right;
}

.left {
    transform-origin: left;
}

.bottom {
    transform-origin: bottom;
}

.top-right {
    transform-origin: top right;
}

.top-left {
    transform-origin: top left;
}

.bottom-right {
    transform-origin: bottom right;
}

.bottom-left {
    transform-origin: bottom left;
}

/* Perspective */

.perspective {
    perspective: 500px;
    display: flex;
    justify-content: space-around;
}

.rotate-x:hover {
    transform: rotateX(90deg);
}

.rotate-y:hover {
    transform: rotateY(90deg);
}

.rotate-z:hover {
    transform: rotateZ(90deg);
}

.translate-z:hover {
    transform: translateZ(100px);
}

/* Button examples */

.example {
    position: relative;

    width: 150px;
    height: 70px;

    font-size: 18px;
    color: var(--color-secontary);
    line-height: 66px;
    text-align: center;
    text-decoration: none;

    border: 2px solid var(--color-secontary);
    overflow: hidden;

    transition: all 800ms ease-out;
}

.example-1:before,
.example-2:before,
.example-3:before,
.example-3:after,
.example-5:before,
.example-6:before,
.example-7:before,
.example-7:after,
.example-8:before,
.example-9:before,
.example-10:before,
.example-11:before,
.example-11:after,
.example-12:before,
.example-12:after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    transition: transform 800ms ease-out;
}

.example-1:hover,
.example-2:hover,
.example-3:hover,
.example-6:hover,
.example-9:hover,
.example-10:hover {
    color: var(--color-light);
}

/* Example 1 */

.example-1:before {
    background-color: var(--color-primary-light);
    transform-origin: bottom right;
    transform: rotate(90deg);
}

.example-1:hover:before {
    transform: rotate(0deg);
}

/* Example 2 */

.example-2:before {
    background-color: var(--color-secontary);
    transform: translateX(-100%);
}

.example-2:hover:before {
    transform: translateX(0);
}

/* Example 3 */

.example-3:before {
    background-color: var(--color-secontary);
    transform: rotateX(90deg);
}

.example-3:hover:before {
    transform: rotateX(0);
}

.example-3:after {
    background-color: var(--color-secontary);
    transform: rotateY(90deg);
}

.example-3:hover:after {
    transform: rotateY(0);
}

/* Example 4 */

.example-4 {
    font-family: 'roboto', 'sans-serif';
    font-weight: 300;
    letter-spacing: -1px;
    text-transform: uppercase;

    transition: all 500ms ease-out;
}

.example-4:hover {
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 62px;

    border: 4px solid var(--color-secontary);
}

/* Example 5 */

.example-5 {
    text-transform: uppercase;
}

.example-5:before {
    content: 'Yeah!';

    text-transform: uppercase;
    color: var(--color-light);

    background-color: var(--color-primary-light);

    z-index: 1;
    transform: translateY(-100%);
    transition: all 400ms ease-out;
}

.example-5:hover:before {
    transform: translateY(0);
}

/* Example 6 */

.example-6 {
    transition: all 400ms;
}

.example-6:hover {
    background-color: var(--color-secontary);
}

.example-6:before {
    height: 30px;
    background-color: var(--color-light);

    z-index: 1;
    transform: translateX(-100%) translateY(30px) rotate(45deg);
    transition: all 400ms;
}

.example-6:hover:before {
    transform: translateX(100%) rotate(45deg);
}

/* Example 7 */

.example-7:before,
.example-7:after {
    content: 'Hover me';
    color: var(--color-light);
    background-color: var(--color-secontary);
    z-index: 1;
    transition: all 500ms;
}

.example-7:before {
    transform: translate(-100%, 100%);
}

.example-7:hover:before {
    transform: translate(0, 0);
}

.example-7:hover:after {
    transform: translate(100%, -100%);
}

/* Example 8 */

.example-8 {
transition: all 500ms;
}

.example-8:before {
    content: 'Hover me';
    color: var(--color-light);
    background-color: var(--color-secontary);
    opacity: 0;
    z-index: 1;
    transform: scale(5);
    transition: all 500ms;
}

.example-8:hover:before {
    opacity: 1;
    transform: scale(1);
}

/* Example 9 and 10 */

.example-9,
.example-10 {
    text-transform: uppercase;
    transition: all 500ms;
}

.example-9:before,
.example-10:before {
    background-color: var(--color-primary-light);
    transition: all 500ms;
}

.example-9:before {
    height: 0;
    border-radius: 0 0 50% 50%;
}

.example-9:hover:before {
    height: 190%;
}

.example-10:before {
    width: 0;
    border-radius: 0 50% 50% 0;
}

.example-10:hover:before {
    width: 190%;
}

/* Example 11 and 12 */

.example-11,
.example-12 {
    color: var(--color-light);
    background-color: var(--color-secontary);
    border: none;
    text-transform: uppercase;
    overflow: unset;
}

.example-11:before,
.example-11:after,
.example-12:before,
.example-12:after {
    content: 'Hover me';
    transform: rotateX(270deg);
    z-index: 1;
}

.example-11:before,
.example-12:before {
    background-color: var(--color-primary-light);
    transform-origin: top;
    transition: all 500ms;
}

.example-11:after {
    background-color: var(--color-primary);
    transform-origin: top;
    transition: all 500ms linear 200ms;
}

.example-12:after {
    background-color: var(--color-primary);
    transform-origin: bottom;
    transition: all 500ms;
}

.example-11:hover:before,
.example-11:hover:after,
.example-12:hover:before,
.example-12:hover:after {
    transform: rotateX(0);
}
